.companyName
{
    font-size: 14px;
    font-weight: bold;
    word-break:break-all;
    word-wrap: break-word;
}
.ticketNumber{
    font-size: 10px;
}

.date{

font-size: 10px;

}
.frmLabel{
font-weight: bold;
font-size: 10px;

}

ion-card{
border-radius: 25px!important;
background:#ece1e1!important; 

}

ion-card-header{
background-color: #009688;
color: white!important;

}
.frmText
{
    font-size: 10px;
}
